@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&family=Playwrite+AU+TAS:wght@100..400&display=swap');

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    /* background-color: #fbd963; */
    background-image: url(images/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100vh;
}

.box {
    height: 100%;
    min-height: 95vh;
    background-color: #fffdf6;
    padding: 0;
    max-width: 800px;
    border-top: 20px solid #2085be;
    border-bottom: 20px solid #2085be;
    background-image: url("images/flower.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    padding: 0 2em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}

h1 {
    font-family: "Kalnia", sans-serif;
    font-size: 36px;
    text-align: center;
    margin: 15px 0 0 0;
    text-decoration: underline dotted #f8966f;
    letter-spacing: 1px;
}

.caption {
    text-align: center;
    margin: 0;
    font-family: "Playwrite AU TAS", cursive;
    font-size: 13px;
}

.copyright {
    text-align: center;
}

.input-area {
    margin: 1.5em 0;
    display: flex;
    justify-content: center;
}


#task-input {
    text-align: start;
    width: 500px;
    border: 2px dotted lightgrey;
    border-radius: 999px;
}

#task-input:focus {
    background-color: #ffe99b;
}

/* .task-area {
    border: 1px solid lightgrey;
} */

.task-tabs {
    display: flex;
    border-bottom: 4px dotted lightgrey;
    position: relative;
    font-family: "Playwrite AU TAS", cursive;
}

.task-tabs div {
    padding: 1em;
    cursor: pointer;
}

#under-line {
    height: 4px;
    background-color: #f8966f;
    position: absolute;
    width: 55.45px;
    left: 0px;
    top: 56px;
    padding: 0px;
    transition: 0.5s;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border: 3px solid rgb(231, 231, 231);
    margin: 1em 0;
    border-radius: 999px;
    background-color: rgba(255,255,255,.6);
}

.task-done {
    text-decoration: line-through;
}

.buttons {
    display: flex;
}

button {
    border: none;
    background: transparent;
}

footer {
    color: white;
    font-size: 0.8em;
}



@media only screen and (max-width: 600px) {
    .box {
        background-size: 60%;
    }
    .task-tabs {
        display: flex;
        justify-content: center;
    }
}